*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, input{
  border: none;
  outline: none;
  background: transparent;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.main{

  .container{
    display: flex;

    .menuContainer{
      width: 250px;
      background: #000;
    }

    .contentContainer{
      width: 100%;
    }
  }
}